<div class="welcome" 
     fxFlex 
     fxLayout="column" 
     fxLayout.gt-md="row" 
     fxLayoutGap.gt-md="20px"
     fxLayoutAlign="center center">
    <section>
        <h1>ACTIVITY</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi corrupti autem laborum molestiae consequatur temporibus nulla tenetur sit nesciunt!</P>
    </section>

    <section>
        <h1>community</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi corrupti autem laborum molestiae consequatur temporibus nulla tenetur sit nesciunt!</P>
    </section>

    <section>
        <h1>CHALLENGES</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi corrupti autem laborum molestiae consequatur temporibus nulla tenetur sit nesciunt!</P>
    </section>
</div>
